__pycache__
saved_weight
.vscode
*.log
*.idx
*.npy
!requirements/*
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs*
*.so
.venv
uv.lock
model/
openvla_image.tar
*.err
.ray_tmp*
wandb/*
LIBERO/libero/datasets*
trajectory_logs/
node_update.sh
rlds_demo_videos/
success_info.txt
delete_video_folders.py
fill_gpu.py
RLinf-Pi0*
libero_spatial*
model/
