__pycache__
.vscode
*.log
*.idx
*.npy
!requirements/*
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
*.so
.venv
uv.lock
model/
openvla_image.tar
*.err
.ray_tmp*
wandb/*
LIBERO/libero/datasets*
