# Core System
accelerate
ray[default]>=2.47.0
torch==2.6.0
# Data processing
pylatexenc
datasets
git+https://github.com/RLinf/latex2sympy2.git
sentencepiece
torchdata
wandb
word2number
regex
scipy
# Utilities
hydra-core==1.4.0.dev1
einops
nvitop
pybind11
torch-memory-saver
setuptools>=69.5.1,<75.9
# Logging
swanlab
tensorboard
# Embodied dependencies
# prismatic
draccus
rich
tensorflow_graphics
peft==0.11.1
timm==0.9.10
tensordict
git+https://github.com/Lifelong-Robot-Learning/LIBERO.git
